<h1>Lijsten Todo</h1>
<button type="button" class="btn btn-success addBtn mb-2" (click)="add()"><i class="fas fa-plus"></i> Add new lijst</button>
<div class="row w-100">
  <div *ngFor="let lijst of lijsten" class="col-lg-4 col-12 col-md-6 p-2 lijst-div d-flex">
    <div class="card-div d-flex w-100">
      <div class="card w-100 text-left  d-flex" [style.background-color]="lijst.lijstbackgroundcolor">
        <h5 class="card-header">{{lijst.title}}</h5>
        <div class="card-body d-flex">
          <div class="align-items-center w-100 justify-content-between d-flex">
            <div *ngFor="let item of lijst.items">
              <p *ngIf="item.volgorde == 1" class="mb-0">{{item.title}} <br> <a (click)="items(lijst.id)" class="items-link">Klik hier voor alle stappen</a></p>
            </div>
            <p *ngIf="lijst.items.length == 0" class="mb-0"><a (click)="items(lijst.id)" class="items-link">Klik hier voor alle stappen</a></p>
            <div class="btn-group btn-group-sm pl-2">
              <button type="button" class="btn btn-success" (click)="edit(lijst.id)"><i class="fas fa-edit"></i></button>
              <button type="button" class="btn btn-danger" (click)="delete(lijst.id)"><i class="far fa-trash-alt"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
