<h1></h1>
<button type="button" class="btn btn-success addBtn mt-4" (click)="add()"><i class="fas fa-plus"></i> Add new item</button>
<table class="table mt-5 table-striped" id="itemtable">
  <thead class="thead-light">
    <tr>
      <th scope="col" (click)="sortTable(0)">Status</th>
      <th scope="col" (click)="sortTable(1)">Name</th>
      <th scope="col" (click)="sortTable(2)">Deadline</th>
      <th scope="col" (click)="sortTable(3)">Bewerken</th>
    </tr>
  </thead>
  <tbody class="w-100">
    <tr *ngFor="let item of items">
      <td>
        <a *ngIf="item.statusId == 3" (click)="done(item.id)"><i class="far fa-circle notdone"></i></a>
        <a *ngIf="item.statusId == 1" (click)="notdone(item.id)"><i class="fas fa-check-circle done"></i></a>
      </td>
      <td>{{item.title}}</td>
      <td>{{item.datum}}</td>
      <td>
        <button type="button" class="btn btn-success" (click)="edit(item.id)"><i class="fas fa-edit"></i></button>
        <button type="button" class="btn btn-danger" (click)="delete(item.id)"><i class="far fa-trash-alt"></i></button></td>
    </tr>
  </tbody>
</table>
